$ff-picto: "fontello";
$ff-poppins: "Poppins", Arial, Lucida, sans-serif;
$pictos: (
  "menu": 61641,
  "menu-1": 59392,
  "up-open": 59393,
  "mail-alt": 61664,
  "mail": 59394,
  "phone": 59395,
  "dot": 61842,
  "right": 61816,
);
